<!DOCTYPE html>
<html>
<head>
<title>Index</title>

</head>
<body>
<div class="container">
<header class="header">
<p class="num">(+1116571234878) support@agenco.com</p>
<form>
<select class="select">
   <option>london</option>
   <option>IND</option>
   <option>AUS</option>
</select>

<select class="select">
   <option>TAM</option>
   <option>HINDI</option>
   <option>FRENCH</option>
</select>

<input type="submit"value="sign in" class="sign">
</form>
</header>
<nav class="nav">
<p class="p">Trave<span>li</span></p>
<ul class="list" [class]="undo">
    <li ><a href="">Home</a></li>
    <li><a href="">Room</a></li>
    <li><a href="">Events</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact us</a></li>
</ul>

<div class="hamb" (click)="fun()">
   <div class="menu-line"></div>
   <div class="menu-line"></div>
   <div class="menu-line"></div>
 </div>
</nav>
<section class="main">
   <article class="article1">
<img class="boat" src="assets/t2.jpg">
</article>
<article class="article2">
<h2>Welcome to find flights,Hotels & Tour 
Packages <span>Cheap rate</span></h2>
<p class="para2">Rebuikt for simplicity and speed,so you can spend more
time discovering and listening to great podcasts.</p>
</article>

</section>
<section class="allot">
<form>
<input class="fixed" type="text" placeholder="location">
<input class="fixed" type="date">
<input type="submit" value="search plan" class="plan">
</form>
</section>

<div class="three">
<article><h2>Best policy</h2>
<p>that it is better to tell the truth than to tell a lie, no matter the consequences.
 </p>
</article>
<article><h2>Access to all evets</h2>
<p>that it is better to tell the truth than to tell a lie, no matter the consequences.
 </p></article>
<article><h2>Parking Facility</h2>
<p>that it is better to tell the truth than to tell a lie, no matter the consequences.
 </p></article>
</div>
<div class="images">
<section><img src="assets/home2.jpg" class="river"> 
<h2 class="cut">Kerala river View tour</h2>
<p class="cut3">Rs.12,000</p>
<a class="ticket" href="">Book Ticket</a></section>
<section><img src="assets/t3.jpg" class="river"> 
<h2 class="cut">Moutain Hiking tour</h2>
<p class="cut3">Rs.12,000</p>
<a class="ticket" href="">Book Ticket</a></section>
<section><img src="assets/t4.jpg" class="river"> 
<h2 class="cut">Sundarbonads Tour 2022</h2>
<p class="cut3">Rs.12,000</p>
<a class="ticket" href="">Book Ticket</a></section>
</div>
<div class="news">
<section>
<img src="assets/t6.jpg">
</section>
<section class="letter">
<h3 class="month">Get Every Monthly<span><h2>Newsletter</h2></span></h3>
<p class="smallpara">Select category that suits your interest.Use filters to customize your search and to find
exactly what you want</p>
<form>
<input type="text" placeholder="Enter your Email address" class="email">
<input type="submit" value="subcribe" class="sbc">
</form>
</section>
</div>

<section class="last">
<article>
<h2 class="hotel">About hotel</h2>
<p class="p1">A hotel is an establishment that provides paid lodging on a short-term basis. 
Facilities provided inside  </p>
<h5 class="map">Check on google map</h5>
</article>
<article>
<h2 class="hotel">Explore</h2>

<ol class="footernavigation">
     <li><a href="">Home</a></li>
    <li><a href="">Room</a></li>
    <li><a href="">Events</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact us</a></li>
</ol>
	
<h5 class="map">Check on google map</h5></article>
<article>
<h2 class="hotel">Contact</h2>
<p class="p1">1616,Broadway NY,New York 10001
United States of America
855 100 4444
info@hoteladmin.com</p>
<h5 class="map">Check on google map</h5></article>

</section>
<footer>
<p class="footer">&copy; 2023 Portfolio @ All Rights Reserved</p>
</footer>
</div>

</body>
</html>